<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div class="block block_1">
      <%= devise_error_messages! %>
      <h4>Resend confirmation instructions</h4>
    </div>
    <div class="block">
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "txtbox_1", placeholder: "Email" %> 
      </div>
      <div class="block">
        <%= f.submit "Resend confirmation instructions" %>
      </div>
      <div class="block">
        <%= render "students/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
