<% if false %>
<!-- refactor this into controller -->
<% tutors = Set.new %>

<h1>Dashboard</h1>

<div class="row">
	<div class="four columns">
		<h4>My conversations</h4>
			<%= render partial: 'conversations/conversation', collection: @conversations %>
	</div>
	<div class="four columns">
		<h4>My Lessons</h4>
		<%= link_to "My Calender", calendar_student_path(current_user) %> <br> <br>
		<% @lessons.each do |lesson| %>
			<%= link_to "#{lesson.tutor.firstname.titleize}-#{lesson.subject}", lesson %> 
			<%= local_time(lesson.date, '%d/%m/%Y %H:%M') %> <br>
			<% tutors.add(lesson.tutor) %>
		<% end %>
	</div>
	<div class="four columns">
		<h4>My Tutors</h4>
		<% tutors.each do |tutor| %>
			<%= link_to tutor.display_name, tutor %>
		<% end %>
	</div>
</div>
<%#= will_paginate %>
<% end %>

<div class="student_main">
  <div class="clearfix">
    <h2>My Tutors</h2>
    <div class="filter_btns">
        <a href="#" class="active">SORT BY</a>
        <!-- <a href="#" class="dates_btn">DATES</a> -->
        <%= link_to "Calender", calendar_student_path(current_user) %>
    </div>
  </div>
  <div class="row">
  	<% @tutors.each do |tutor| %>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div class="profilebox_3">
            <div class="img">
                <%= image_tag tutor.picture_url(:display) %>
                <div class="btns">
                    <!-- <a href="#msz_popup" class="fancybox">MESSAGE</a> -->
                    <%= link_to "MESSAGE", conversations_path(current: get_conversation(current_user, tutor)) %>
                    <a href="#book_popup" class="fancybox">BOOK</a>
                </div>
            </div>
            <h3><%= tutor.display_name %></h3>
            <% next_lesson = next_tutor_lesson(tutor, current_user) %>
            <%#= link_to(conversations_path(current: conversation.id), class: "clearfix") do %>
              <p><strong>Next Lesson:</strong> <%= next_lesson_date(next_lesson) %>
              	<a href="#"><%= next_lesson_faculty(next_lesson) %></a>
              </p>
            <%# end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'lessons/lesson', locals: {tutor: @tutor} %>