<div class="student_main">
  <div class="clearfix">
    <h2>My Tutors</h2>
    <div class="filter_btns">
        <!-- <a href="#" class="active">SORT BY</a> -->
        <!-- <a href="#" class="dates_btn">DATES</a> -->
        <%= link_to "Calender", calendar_student_path(current_user) %>
    </div>
  </div>
  <div class="row">
  	<% @tutors.each do |tutor| %>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div class="profilebox_3">
            <div class="img">
                <%= image_tag tutor.picture_url(:display) %>
                <div class="btns">
                    <% if is_conversation(current_user, tutor) %>
                      <%= link_to "MESSAGE", conversations_path(current: get_conversation(current_user, tutor)) %>
                    <% end %>
                    <%= link_to 'BOOK', new_partial_lesson_path(student: current_user, tutor: tutor), remote: true %>
                </div>
            </div>
            <h3><%= tutor.display_name %></h3>
            <% next_lesson = next_student_lesson(current_user, tutor) %>
            
            
              <% if next_lesson.present? %>
                <% if next_lesson.edited? or next_lesson.initial? %>

                <% if next_lesson.tutor_change? %>
                  <p class="left-align">Click <%= link_to 'here', lesson_path(next_lesson) %> to approve lesson on <%= next_lesson_date(next_lesson) %></p>
                <% else %>
                  <p><strong>Waiting</strong> for tutor confirmation for your lesson on <%= next_lesson_date(next_lesson) %></p>
                <% end %>


                <% else %>
                  <p><strong>Next Lesson:</strong> <%= next_lesson_date(next_lesson) %></p>
                <% end %>

                

                <div class="row">
                  <div class="center_state_buttons space_below_state_button">
                    <% if next_lesson.approved? %>
                      <span class="label label-success">Approved</span>
                    <% end %>

                    <% if next_lesson.edited? or next_lesson.initial? %>
                      <span class="label label-warning">Pending</span>
                    <% end %>
                    
                    <% if next_lesson.cancelled? %>
                      <span class="label label-danger">Cancelled</span>
                    <% end %>
                  </div>
                </div>

                <div class="row center_state_buttons ">
                <%= link_to 'View Next Lesson Details', lesson_path(next_lesson), class:"btn btn-primary btn-sm"%>
                </div>  
              <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<a id="book_popup_click" href="#book_popup" class="fancybox" style="display:none"></a>
<div id="book_popup" class="book_popup"></div>