<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
  <% if current.present? %>
    <div class="inbox_right">
  <!--     <div class="clearfix">
        <div class="filter_btns">
          <a href="#" class="active">SORT BY</a>
          <a href="#" class="dates_btn">DATES</a>
        </div>
      </div> -->
      <div class="msz_box">
        <div class="load_msz">
          <p><%= "Chatting with #{get_partner(current).display_name}: " %>
          <% if is_tutor %>
            <!-- Passing current - to shut rails up: never used (just partial inception) -->
            <%= link_to 'ADD LESSON', new_partial_lesson_path(current, student: get_partner(current).id, tutor: current_user), remote: true %>
          <% else %>
            <%= link_to 'REQUEST LESSON', new_partial_lesson_path(current, tutor: get_partner(current).id, student: current_user), remote: true %>
          <% end %> </p>
        </div>
        <% current.receipts_for(current_user).order(created_at: :asc).each do |receipt| %>
          <% message = receipt.message %>
          <div class="block clearfix">
            <div class="img">
              <% if check_is_tutor(message.sender) %>
                <%= image_tag(message.sender.picture_url(:chat)) %>
              <% else %>
                <img src="../../assets/default/chat_default.png" alt="">
              <% end %>
            </div>
            <div class="desc">
              <h4><%= message.sender.firstname.titleize %></h4>
              <%#= local_time(message.created_at.strftime("%-d %B %Y, %H:%M:%S")) %>
              <p><%= message.body %></p>
            </div>
          </div>
        <% end %>
        <div class="replay_box">
          <%= form_tag reply_conversation_path(current), method: :post do %>
            <%= text_area_tag 'body', nil, placeholder: 'Write a reply...', required: true %>
            <%= submit_tag 'Send', class: "send_btn" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>