<div id="msz_popup2" class="msz_popup">

  <h2>Payment information</h2>
  <p>In order to be able to receive your payments for lessons which your students have scheduled and paid for online, you need to add a valid bank account. Adding an account also lets you associate with a tutoring organisation if you choose to do so!</p>
 <p>Please note and be warned that Tutorial Academy adds a premium of $5 to the price of your lesson. We will only take this premium if your lesson is payed for through our online payment service</p>
  <%= form_for tutor, :url => {:action => "add_bank_account", params: {id: tutor.id}} do |f| %>
    <%= f.fields_for :bank_account do |ba| %>
      <h4>BSB</h4>
      <%= ba.text_field :bsb, class: "txtbox_1" %>
      <h4>Account Number</h4>
      <%= ba.text_field :number, class: "txtbox_1" %>
      <h4>Account Name</h4>
      <%= ba.text_field :name, class: "txtbox_1" %>
    <% end %>

    <div class="clearfix">
      <%= f.submit class: "save_btn btn_1", value: "Add Bank Account" %>
    </div>
  <% end %> 
</div>