<% if false %>
<%= form_for(@tutor) do |f| %>
  <% if @tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% @tutor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%#= @tutor.picture if @tutor.picture? %>
<!--   <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>
   <div class="field">
     <%= f.label :date_of_birth %><br>
    <%= f.date_select(:date_of_birth, :start_year => 1900, :end_year=> Date.today.year, :include_blank => true, :default => nil) %>
  </div> -->

  <!-- Working with children card -->
<!--   <p><b>Working With Children Card</b></p>
  <%= f.fields_for :wwc_card do |wwc| %>
    <%= wwc.label :number %>
    <%= wwc.text_field :number %>

    <%= wwc.label :expiry %>
    <%= wwc.date_select(:expiry, :start_year => Date.today.year, :include_blank => true, :default => nil) %>
  <% end %> -->

<!--   <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.text_area :experience %>
  </div> -->

<!--   <div class="field">
    <h4>Availability</h4>
      <%= hidden_field_tag "tutor[weekday_ids][]", nil %>
      <% Weekday.all.each do |wday| %>
        <%= check_box_tag "tutor[weekday_ids][]", wday.id, @tutor.weekday_ids.include?(wday.id), id: dom_id(wday) %>
        <%= label_tag dom_id(wday), wday.get_day %> <br>
      <% end %>
  </div>

  <div class="field">
    <h4>Areas</h4>
    <%= hidden_field_tag "tutor[area_ids][]", nil %>
    <% Area.all.each do |area| %>
      <%= check_box_tag "tutor[area_ids][]", area.id, @tutor.area_ids.include?(area.id), id: dom_id(area) %>
      <%= label_tag dom_id(area), area.display_name %> <br>
    <% end %>
  </div> <br>

 <div class="field">
    <h4>Subjects</h4>
    <%= hidden_field_tag "tutor[subject_ids][]", nil %>
    <% Subject.all.each do |subject| %>
      <%= check_box_tag "tutor[subject_ids][]", subject.id, @tutor.subject_ids.include?(subject.id), id: dom_id(subject) %>
      <%= label_tag dom_id(subject), "#{subject.display_name} - #{subject.group}" %> <br>
    <% end %>
  </div> -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>

<div class="settings_main">
  <h2>SETTINGS</h2>
  <%= form_for(@tutor) do |f| %>
    <% if @tutor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this sensor from being saved:</h2>
        <ul>
        <% @tutor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <h2><%= link_to "Account Settings", edit_tutor_registration_path %></h2>
    <div class="basic_details">
        <h3>Basic details</h3>
          <div class="clearfix">
            <div class="block_1">
                <%= f.select :sex, Tutor.sexes.keys, {}, {class: "selbox"} %>
              </div>
              <!-- <div class="block_2">
                <select class="selbox"><option>22</option><option>21</option><option>20</option><option>19</option></select>
              </div>
              <div class="block_3">
                <select class="selbox"><option>November</option><option>option 2</option><option>option 3</option><option>option 4</option></select>
              </div>
              <div class="block_4">
                <select class="selbox"><option>1991</option><option>1990</option><option>1989</option><option>1988</option></select>
              </div> -->
              <div class="block_1">
                <%= f.date_select(:date_of_birth, {:order => [:day, :month, :year], :start_year => 1900, :end_year=> Date.today.year, :include_blank => true, :default => nil}, {class: "selbox"}) %>
              </div>

              <div class="block_1">
                <%= f.text_field :suburb, id: "area-search", class: "txtbox_1", placeholder: "Suburb" %>
              </div>
          </div>
      </div>
      <div class="photo_details clearfix">
        <div class="block_1">
            <h3>Photo</h3>
              <div class="img"><%= image_tag(@tutor.picture_url(:display)) %></div>
              <!-- <a href="#" class="edit_btn">EDIT IMAGE</a> -->
             <%= f.file_field :picture %>
          </div>
          <div class="block_2">
            <h3>Experience</h3>
            <%= f.text_area :experience %>
            <h3>About</h3>
            <%= f.text_area :about %>
          </div>
      </div>
      <div class="more_details">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="block block_1">
                    <input type="text" class="txtbox_1" placeholder="Suburb">
                  </div>
                  <div class="block">
                    <%= f.select :weekday_ids, options_from_collection_for_select(Weekday.all, :id, :get_day, {:selected => @tutor.weekday_ids.split(';')}), {}, {:multiple => true, :size => 10, :name => 'tutor[weekday_ids][]'} %>
                  </div>
                  <div class="block">
                    <%= f.select :subject_ids, options_from_collection_for_select(Subject.all, :id, :name, {:selected => @tutor.subject_ids.split(';')}), {}, {:multiple => true, :size => 10, :name => 'tutor[subject_ids][]'} %>
                  </div>
                  <div class="block">
                    <%= f.select :area_ids, options_from_collection_for_select(Area.all, :id, :name, {:selected => @tutor.area_ids.split(';')}), {}, {:multiple => true, :size => 10, :name => 'tutor[area_ids][]'} %>
                  </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <%= f.fields_for :wwc_card do |wwc| %>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="block">
                            <h5>Working with children number</h5>
                            <%= wwc.text_field :number, class: "txtbox_1" %>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="block"> 
                          <h5>Working with children expiry</h5>
                          <!-- <input type="text" class="txtbox_1 datepicker" placeholder="22 / 12 / 2016"> -->
                          <%= wwc.date_select(:expiry, :start_year => Date.today.year, :include_blank => true, :default => nil, class: "txtbox_1 datepicker") %>
                        </div>
                      </div>
                  <% end %>
                </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <div class="block">
                              <h5>Hourly Rate</h5>
                              <%= f.text_field :rate, class: "txtbox_1", placeholder: "Hourly Rate" %>
                              <span class="infotxt">*Tutorial Academy charges 10% commision</span>
                          </div>
                    </div>
                  </div>
                  <div class="clearfix">
                      <div class="where_tutor">
                          <h5>Where do you tutor?</h5>
                          <div class="clearfix">
                              <div class="opt opt_1"><input type="checkbox" class="chkbox">Public place</div>
                              <div class="opt opt_2"><input type="checkbox" class="chkbox">Tutors home</div>
                              <div class="opt opt_3"><input type="checkbox" class="chkbox">Students home</div>
                          </div>
                      </div>
                </div>
              </div>
          </div>
          <div class="clearfix">
            <!-- <input type="submit" class="save_btn" value="SAVE SETTINGS"> -->
            <%= f.submit class: "save_btn", value: "SAVE SETTINGS" %>
          </div>
      </div>
  <% end %>
</div>