<%= form_for(@tutor) do |f| %>
  <% if @tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% @tutor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%#= @tutor.picture if @tutor.picture? %>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>
   <div class="field">
     <%= f.label :date_of_birth %><br>
    <%= f.date_select(:date_of_birth, :start_year => 1900, :end_year=> Date.today.year, :include_blank => true, :default => nil) %>
  </div>

  <!-- Working with children card -->
  <p><b>Working With Children Card</b></p>
  <%= f.fields_for :wwc_card do |wwc| %>
    <%= wwc.label :number %>
    <%= wwc.text_field :number %>

    <%= wwc.label :expiry %>
    <%= wwc.date_select(:expiry, :start_year => Date.today.year, :include_blank => true, :default => nil) %>
  <% end %>

  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.text_area :experience %>
  </div>

  <div class="field">
    <h4>
      <%= hidden_field_tag "tutor[weekday_ids][]", nil %>
      <% Weekday.all.each do |wday| %>
        <%= check_box_tag "tutor[weekday_ids][]", wday.id, @tutor.weekday_ids.include?(wday.id), id: dom_id(wday) %>
        <%= label_tag dom_id(wday), wday.get_day %> <br>
      <% end %>
    </h4>
  </div>

  <div class="field">
    <h4>Areas</h4>
    <%= hidden_field_tag "tutor[area_ids][]", nil %>
    <% Area.all.each do |area| %>
      <%= check_box_tag "tutor[area_ids][]", area.id, @tutor.area_ids.include?(area.id), id: dom_id(area) %>
      <%= label_tag dom_id(area), area.display_name %> <br>
    <% end %>
  </div> <br>

 <div class="field">
    <h4>Subjects</h4>
    <%= hidden_field_tag "tutor[subject_ids][]", nil %>
    <% Subject.all.each do |subject| %>
      <%= check_box_tag "tutor[subject_ids][]", subject.id, @tutor.subject_ids.include?(subject.id), id: dom_id(subject) %>
      <%= label_tag dom_id(subject), "#{subject.display_name} - #{subject.group}" %> <br>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
