<div class="settings_main">
  <h2>SETTINGS</h2>
  <%= form_for(@tutor) do |f| %>
    <% if @tutor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this sensor from being saved:</h2>
        <ul>
        <% @tutor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <h3><%= link_to "Account Settings", edit_tutor_registration_path %></h3>
    <div class="basic_details">
        <h3>Basic details</h3>
          <div class="clearfix">
            <div class="block_1">
                <%= f.select :sex, Tutor.sexes.keys, {}, {class: "selbox"} %>
              </div>
              <span class="datetime">
                <%= f.date_select(:date_of_birth, {:order => [:day, :month, :year], :start_year => 1900, :end_year=> Date.today.year, :include_blank => true, :default => nil}, {class: "dateselect"}) %>
              </span>
          </div>
      </div>
      <div class="photo_details clearfix">
        <div class="block_1">
            <h3>Photo</h3>
              <div class="img"><%= image_tag(@tutor.picture_url(:display)) %></div>
              <!-- <a href="#" class="edit_btn">EDIT IMAGE</a> -->
             <%= f.file_field :picture %>
          </div>
          <div class="block_2">
            <h3>Experience</h3>
            <%= f.text_area :experience %>
            <h3>About</h3>
            <%= f.text_area :about %>
          </div>
      </div>
      <div class="more_details">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="block block_1">
                    <%= f.text_field :suburb, id: "area-search", class: "txtbox_1", placeholder: "Suburb" %>
                </div>

                <h5>Tutoring Details</h5>
                <div class="settings_filter">
                  <ul>
                    <li>
                      <a href="#">Availability</a>
                      <ul>
                        <% Date::DAYNAMES.each_with_index do |wday, i| %>
                          <li>
                            <%= label_tag "day#{i}", class: 'checkbox chkbox_label' do %>
                              <%= check_box_tag "tutor[availability][]", i, @tutor.availability.include?(i.to_s), id: "day#{i}", class: "chkbox" %>
                              <%= "#{wday.to_s}" %>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </li>              
                    <li>
                      <a href="#">Subjects</a>
                      <ul>
                        <%= hidden_field_tag "tutor[subject_ids][]", nil %>
                        <% Subject.all.each do |sub| %>
                          <li>
                            <%= label_tag dom_id(sub), class: 'checkbox chkbox_label' do %>
                              <%= check_box_tag "search[subjects][]", sub.id, @tutor.subject_ids.include?(sub.id), id: dom_id(sub), class: "chkbox" %>
                              <%= "#{sub.name}" %>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                    <li>
                      <a>Areas</a>
                      <ul>
                        <%= hidden_field_tag "tutor[area_ids][]", nil %>
                        <% Area.all.each do |area| %>
                          <li>
                            <%= label_tag dom_id(area), class: 'checkbox chkbox_label' do %>
                              <%= check_box_tag "search[subjects][]", area.id, @tutor.area_ids.include?(area.id), id: dom_id(area), class: "chkbox" %>
                              <%= "#{area.display_name}" %>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="block"> 
                      <h5>Hourly Rate</h5>
                        <%= f.text_field :rate, class: "txtbox_1", placeholder: "Hourly Rate" %>
                        <!-- <span class="infotxt">*Tutorial Academy charges 10% commision</span> -->
                    </div>
                  </div>
                  <%= f.fields_for :wwc_card do |wwc| %>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="block">
                          <h5>Working with children number</h5>
                          <%= wwc.text_field :number, class: "txtbox_1" %>
                        </div>
                    </div>
                  <% end %>
                </div>
                  <div class="row">
                    <%= f.fields_for :wwc_card do |wwc| %>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5>Working with children expiry</h5>
                        <span class="datetime">
                          <%= wwc.date_select(:expiry, {:order => [:day, :month, :year], :start_year => Date.today.year, :end_year=> Date.today.year + 5, :include_blank => true, :default => nil}, {class: "dateselect"}) %>
                        </span>
                      </div>
                    <% end %>
                  </div>
                  <div class="clearfix">
                      <div class="where_tutor">
                          <h5>Where do you tutor?</h5>
                          <div class="clearfix">
                              <div class="opt opt_1"><input type="checkbox" class="chkbox">Public place</div>
                              <div class="opt opt_2"><input type="checkbox" class="chkbox">Tutors home</div>
                              <div class="opt opt_3"><input type="checkbox" class="chkbox">Students home</div>
                          </div>
                      </div>
                </div>
                </ul>
              </div>
          </div>
          <div class="clearfix">
            <%= f.submit class: "save_btn", value: "SAVE SETTINGS" %>
          </div>
      </div>
  <% end %>
</div>