<div id="msz_popup" class="msz_popup">
  <h2>Associate with an organisation</h2>
  <p>By associating with an organisation you get all of the benfits that they offer to their tutors. This will also rank you higher in our recommended tutors index and search pages as parents and students are more confident in such tutors.</p>
  <p>Please note and be warned that tutoring organisations add their premium to the price of you lesson and take that premium when your lesson payment is processed</p>

  <% if @tutor.has_bank_account? %>
    <%= form_for tutor, :url => {:action => "join_organisation", params: {id: tutor.id}} do |f| %>
      
      <%= hidden_field_tag "tutor[organisation_ids][]", nil %>
      <% Organisation.all.each do |org| %>
          <%= label_tag dom_id(org), class: 'checkbox chkbox_label' do %>
            <%= check_box_tag "tutor[organisation_ids][]", org.id, tutor.organisation_ids.include?(org.id), id: dom_id(org), class: "chkbox" %>
            <%= "#{org.name}" %>
          <% end %>
      <% end %>

      <div class="clearfix">
        <br>
        <%= f.submit class: "save_btn btn_1", value: "Join organisation" %>
      </div>
    <% end %>
  <% else %>
    <h3 class="red-sorry">Sorry... you need to add a bank account before you can partner with an organisation</h3>
  <% end %>
</div>