<div class="student_main">
  <div class="clearfix">
    <h2>My Students</h2>
    <div class="filter_btns">
        <!-- <a href="#" class="active">SORT BY</a> -->
        <!-- <a href="#" class="dates_btn">DATES</a> -->
        <%= link_to "Calender", calendar_tutor_path(current_user) %>
    </div>
  </div>
  <div class="row">
  	<% @students.each do |student| %>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div class="profilebox_3">
            <div class="img">
                <img src="../../assets/default/display_default.png" alt="">
                <div class="btns">
                  <% if is_conversation(student, current_user) %>
                    <%= link_to "MESSAGE", conversations_path(current: get_conversation(student, current_user)) %>
                  <% end %>
                  <!-- <a href="" class="fancybox">NOTES</a> -->
                </div>
            </div>
            <h3><%= student.display_name %></h3>
            <% next_lesson = next_student_lesson(student, current_user) %>
            <p><strong>Next Lesson:</strong> <%= next_lesson_date(next_lesson) %>
              <% if next_lesson.present? %>
                <%= link_to 'VIEW', lesson_path(next_lesson) %>
              <% else %>
                <%= link_to 'CREATE', new_partial_lesson_path(student: student, tutor: current_user), remote: true %>
              <% end %>
            </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<a id="book_popup_click" href="#book_popup" class="fancybox" style="display:none"></a>
<div id="book_popup" class="book_popup"></div>

<!-- <a href="#msz_popup" class="fancybox">MESSAGE</a> -->