<div class="student_main">
  <div class="clearfix">
    <h2>My Students</h2>
    <div class="filter_btns">
        <!-- <a href="#" class="active">SORT BY</a> -->
        <!-- <a href="#" class="dates_btn">DATES</a> -->
        <%= link_to "calendar", calendar_tutor_path(current_user) %>
    </div>
  </div>
  <div class="row">
  	<% @students.each do |student| %>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div class="profilebox_3">
            <div class="img">
                <img src="../../assets/default/display_default.png" alt="">
                <div class="btns">
                  <% if is_conversation(student, current_user) %>
                    <%= link_to "MESSAGE", conversations_path(current: get_conversation(student, current_user)) %>
                    <%= link_to 'BOOK', new_partial_lesson_path(student: student, tutor: current_user), remote: true %>
                  <% end %>
                  <!-- <a href="" class="fancybox">NOTES</a> -->
                </div>
            </div>
            <h3><%= student.display_name %></h3>

            <% next_lesson = next_student_lesson(student, current_user) %>
            <% if next_lesson.present? %>
              <% if next_lesson.edited? or next_lesson.initial? %>
                <% if next_lesson.tutor_change? %>
                  <p><strong>Waiting</strong> for student confirmation for your lesson on <%= next_lesson_date(next_lesson) %></p>
                
                <% else %>
                  <p><%= link_to 'Click here to approve your lesson on', lesson_path(next_lesson) %></p>
                  <p><%= next_lesson_date(next_lesson) %></p>
                <% end %>

              <% else %>
                <p><strong>Next Lesson:</strong> <%= next_lesson_date(next_lesson) %></p>
              <% end %>

              <div class="row">
                  <div class="center_state_buttons space_below_state_button">
                    <% if next_lesson.approved? %>
                      <span class="label label-success">Approved</span>
                    <% end %>

                    <% if next_lesson.edited? or next_lesson.initial? %>
                      <span class="label label-warning">Pending</span>
                    <% end %>
                    
                    <% if next_lesson.cancelled? %>
                      <span class="label label-danger">Cancelled</span>
                    <% end %>
                  </div>
                </div>

                <div class="row center_state_buttons ">
                <%= link_to 'View Next Lesson Details', lesson_path(next_lesson), class:"btn btn-primary btn-sm"%>
                </div>  

            <% else %>
              <p>No Lesson currently scheduled</p>

            <% end %>


        </div>
      </div>
    <% end %>
  </div>
</div>

<a id="book_popup_click" href="#book_popup" class="fancybox" style="display:none"></a>
<div id="book_popup" class="book_popup"></div>

<!-- <a href="#msz_popup" class="fancybox">MESSAGE</a> -->