<div class="settings_main">
  <h2>Settings</h2>
  <% if not @tutor.verified %>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- <h4>
        You need to fill in the required fields and add a valid working with children card in order to be indexed for students to find.
      </h4> -->

      <h4>
        Please fill out your profile information to be indexed for students to find.
      </h4>
    </div>
  </div>
  <% end %>

  <% if @tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this update</h2>
      <ul>
      <% @tutor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><a href="#msz_popup2" class="fancybox">Add a Bank Account</a></h3>

  <% if @tutor.has_bank_account? %>
      <h3><a href="#msz_popup" class="fancybox">Associate With an organisation</a></h3>
      <%= render partial: 'tutors/join_organisation', locals: {tutor: @tutor} %>
  <% end %>

  <h3><%= link_to "Account Settings", edit_tutor_registration_path %></h3>

  <%= render partial: 'tutors/add_bank_account', locals: {tutor: @tutor} %>

  <%= render 'form' %>
</div>