<% if false %>
  <%= form_tag("#", :method => "get") do %>
  	<%= text_field_tag :area, params[:area], id: "area-search", placeholder: "Select Area" %>
  	<%#= select_tag 'subject', subjects_options, multiple: false %>
  	<%= select_tag 'subject', subjects_faculties, multiple: false %>
  	<%= submit_tag "Search", :name => nil %>
  <% end %>
<% end %>

<div class="search_main">  
	<h2>Search Result: Mt Lawley, Music</h2>      	
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
      	<div class="ser_leftbar">
          	<div class="clearfix leftbar_serchbox">
              	<input type="text" class="txtbox_2" placeholder="Enter your suburb">
                  <input type="submit" class="btn_1" value="SEARCH">
              </div>
              <div class="filter_box">
              	<ul>
                  	<li class="active music">
                      	<a href="#">MUSIC<span class="val_txt">(6)</span></a>
                          <ul>
                          	<li><input type="checkbox" class="chkbox">Guitar</li>
                              <li><input type="checkbox" class="chkbox">Piano</li>
                              <li><input type="checkbox" class="chkbox">Strings</li>
                              <li><input type="checkbox" class="chkbox">Brass</li>
                              <li><input type="checkbox" class="chkbox">Woodwind</li>
                              <li><input type="checkbox" class="chkbox">Other</li>
                          </ul>
                      </li>
                      <li>
                      	<a href="#">BUSINESS<span class="val_txt">(1)</span></a>
                          <ul>
                          	<li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                          </ul>
                      </li>
                      <li>
                      	<a href="#">LANGUAGES<span class="val_txt">(11)</span></a>
                          <ul>
                          	<li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                          </ul>
                      </li>
                      <li>
                      	<a href="#">SCIENCE<span class="val_txt">(2)</span></a>
                          <ul>
                          	<li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                          </ul>
                      </li>
                      <li>
                      	<a href="#">MATHS<span class="val_txt">(5)</span></a>
                          <ul>
                          	<li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                              <li><input type="checkbox" class="chkbox">Lorem Ipsum</li>
                          </ul>
                      </li>
                      <li class="active">
                      	<a href="#">AVAILABILITY</a>
                          <ul>
                          	<li><input type="checkbox" class="chkbox">Monday</li>
                              <li><input type="checkbox" class="chkbox">Tuesday</li>
                              <li><input type="checkbox" class="chkbox">Wednesday</li>
                              <li><input type="checkbox" class="chkbox">Thursday</li>
                              <li><input type="checkbox" class="chkbox">Friday</li>
                              <li><input type="checkbox" class="chkbox">Saturday</li>
                              <li><input type="checkbox" class="chkbox">Sunday</li>
                          </ul>
                      </li>
                      <li class="active">
                      	<a href="#">AGG</a>
                          <ul>
                          	<li>
                              	<div class="sel_box">
                                  	<select class="selbox"><option>Don’t mind</option><option>option 1</option><option>option 2</option><option>option 3</option></select>
                              	</div>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
          <div class="ser_rightbar">
          	<div class="row">
          	<% @tutors.each do |tutor| %>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	            	<div class="profilebox_2">
                	<div class="clearfix">
                  	<div class="img"><%= link_to(image_tag(tutor.picture_url(:search)), tutor) %></div> 
                    <div class="details">
                    	<h3><%= tutor.display_name %></h3>
                      <p><img src="../../assets/layout/map_marker_1.png" alt="">Mt Lawley, WA</p>
                      <a href="#" class="cont_btn">CONTACT</a>
	                      <div class="tags">
                        <a href="">#<%= tutor.hash_tag_list.first %></a>
                    </div>
                    </div>
                  </div>
                  <p><%= tutor.about %><p>
                </div>
	            </div>
						<% end %>
          	</div>
          </div>
      </div>
  </div>
</div>







