<h1>Tutor#show</h1>
<p>Find me in app/views/tutor/show.html.erb</p>

<p><%= @tutor.display_name %></p>
<p><%= @tutor.email %></p>
<p><%= @tutor.picture %></p>
<p><%= @tutor.rate %></p>
<p><%= @tutor.age %></p>
<p><%= @tutor.about %></p>
<p><%= @tutor.experience %></p>
