<h1>Tutor#show</h1>
<p>Find me in app/views/tutor/show.html.erb</p>

<p><%= @tutor.display_name %></p>
<%= image_tag @tutor.picture_url(:thumb) %>
<%#= image_tag @tutor.picture_url.to_s %>
<p><%= @tutor.email %></p>
<p><%= @tutor.rate %></p>
<p><%= @tutor.age %></p>
<p><%= @tutor.about %></p>
<p><%= @tutor.experience %></p>
