<div class="row">
	<div class="four columns">
		<%= image_tag @tutor.picture_url(:profile) %>
	</div>
	<div class="eight columns">
		<h3><%= @tutor.display_name %></h3>
	</div>
</div>
<br><br>

<div class="row">
	<p>Hourly rate: <%= @tutor.display_rate %></p>
	<p>Age: <%= @tutor.get_age %></p>
	<p>About: <br><%= @tutor.about %></p>
	<p>Experience: <br><%= @tutor.experience %></p>
	<!-- <p>Email: <%#= @tutor.email %></p> -->
	<p>Availability: <%= @tutor.weekdays.collect(&:day).join(",") %></p>
	<p>Areas: <%= @tutor.areas.collect(&:name).join(",") %></p>
	<p>Subjects: <%= @tutor.subjects.collect(&:name).join(",") %></p>
</div>

<div class="row">
	<% if this_tutor(@tutor) %>
		<%= link_to 'my messages:', conversations_path %> <%= @messages_count %> new <br>
		<%= link_to 'Dashboard', dashboard_tutor_path(@tutor) %> <br>
		<%= link_to 'edit profile', edit_tutor_path(@tutor) %>

	<% elsif is_student %>
		<%= link_to "Message This Tutor", new_message_path(:tutor => @tutor.id) %>
	<% else %>
		<p>Sign up to message this tutor</p>
	<% end %>
</div>

