<div class="profile_main">
  <div class="row">
  	<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right">
      <div class="pro_rightbar">
      	<div class="row">
        	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-6">
          	<div class="clearfix btns_1">
                  <%= link_to "BACK", :back, class: "btn_1" %>
                  <!-- <a href="#" class="btn_1 resort_pro_btn">REPORT PROFILE</a> -->
            </div>
          	<div class="img">
              	<%= image_tag @tutor.picture_url(:profile) %>
            </div>
          </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
            	<div class="details">
              	<h2><%= @tutor.display_name %></h2>
                <p><img src="../../assets/layout/map_marker_2.png" alt=""><%= @tutor.display_suburb %></p>
                <div class="btns">
                  <% if is_student %>
                    <% if is_conversation(current_user, @tutor) %>
                      <%= link_to "CONTACT", conversations_path(current: get_conversation(current_user, @tutor)) %>
                    <% else %>
                      <a href="#msz_popup" class="fancybox">CONTACT</a>
                    <% end %>

                    <a href="#">BOOK</a>
                    <a href="#">REVIEW</a>
                    <a href="#">REPORT</a>
                  <% elsif not current_user.present? %>
                    <p>Sign in to message this tutor</p>                  
                    <a href="#signin_popup" class="fancybox sign_up_btn">SIGN IN</a></h1>
                    <a href="#signup_popup_1" class="fancybox sign_up_btn">SIGN UP</a></h1>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
        <h4>Sex</h4>
        <p><%= @tutor.sex %></p>
        <h4>Hourly rate</h4>
        <p><%= @tutor.display_rate %></p>
				<h4>Age</h4>
				<p><%= @tutor.get_age %></p>
        <h4>Experience</h4>
        <p><%= @tutor.experience %></p>
        <h4>About</h4>
        <p><%= @tutor.about %></p>
        <h4>Availability</h4>
        <p><%= @tutor.availability %></p>
        <h4>Areas</h4>
				<p><%= @tutor.areas.collect(&:name).join(",") %></p>
				<h4>Subjects</h4>
				<p><%= @tutor.subjects.collect(&:name).join(",") %></p>
    	</div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    	<div class="pro_leftbar">
      	<div class="clearfix btns_1">
            <%= link_to "BACK", :back, class: "btn_1" %>
            <!-- <a href="#" class="btn_1 resort_pro_btn">REPORT PROFILE</a> -->
        </div>
      	<h3>Similiar Profiles</h3>
        <div class="row">
          <% @similar.each do |sim| %>
          	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
              <div class="profilebox">
                 <div class="img"><%= link_to(image_tag(sim.picture_url(:display)), sim) %></div> 
                  <div class="details">
                    <h3><%= sim.display_name %></h3>
                    <p><img src="../../assets/layout/map_marker_1.png" alt=""><%= sim.display_suburb %></p>
                    <!-- <span class="reviews">21 Reviews</span> -->
                    <span class="reviews"><%= link_to "View", sim, class: "viewlink" %></span>
                    <div class="tags">
                      .   <!-- . is so that all displays are the same size until I work out how to manage these # -->
                      <% sim.hash_tag_list.each do |tag| %>
                        <a href="">#<%= tag %></a>
                      <% end %>
                    </div>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if is_student %>
  <%= render partial: 'messages/message', locals: {tutor: @tutor} %>
<% end %>