<div class="feat_tutors clearfix">
  <div class="clearfix">
      <div class="title">
          <h2>Featured Tutors</h2>
            <p>Here are some of our outstanding tutors!</p>
        </div>
        <!-- <div class="sort_by">
          <input type="text" class="txtbox_2" placeholder="Location">
            <input type="text" class="txtbox_2 sub_txtbox" placeholder="Subject">
            <input type="submit" class="btn_1" value="SORT"> 
        </div> -->
    </div>
</div>
<div class="row feat_tutors_c">
  <% @tutors.each do |tutor| %>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="profilebox">
            <div class="img"><%= link_to(image_tag(tutor.picture_url(:display)), tutor) %></div>
            <div class="details">
              <h3><%= tutor.display_name %></h3>
                <p><img src="../../assets/layout/map_marker_2.png" alt=""><%= tutor.display_suburb %></p>
                <!-- <span class="reviews">12 Reviews</span>  Need a tutor review attribute-->
                <span class="reviews"><%= link_to "View", tutor, class: "viewlink" %></span>
                <div class="tags">
                  .   <!-- . is so that all displays are the same size until I work out how to manage these # -->
                  <% tutor.hash_tag_list.each do |tag| %>
                    <a href="">#<%= tag %></a>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
  <% end %>
</div>