<div id="msz_popup" class="msz_popup">
  <div class="row">
    <div class="col-lg-12">
      <% if @lesson.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>
          <ul>
          <% @lesson.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h2>Update the details of this lesson</h2>        
    </div>
  </div>

  <div class="row">
    <%= form_for(@lesson) do |f| %>
      <div class="form-group">
        <div class="col-lg-12">
          <%= f.label :subject %>
          <%= select_tag :subject, subjects_options, multiple: false, required: true, class: "txtbox sub_txtbox" %>
        </div>

        <div class="col-lg-12">
          <%= f.label :location %>
          <%= f.text_field :location, class: "form-control input-lg" %>
        </div>

        <div class="col-lg-12">
          <%= f.label :description %>
          <%= f.text_area :description, cols: "30", rows: "10", class: "form-control" %>
        </div>

        <div class="col-lg-12">
          <%= f.label :duration %> (minutes)
          <%= f.number_field :duration, min: 30, step: 5, required: true, class: "form-control input-lg" %>
        </div>

        <div class="col-lg-12">
          <%= f.label :date %>
          <%= f.datetime_select(:date, {start_year: Time.now.year, order: [:day, :month, :year], required: true}, {class: "dateselect"}) %>
        </div>

        <%= f.hidden_field(:status, value: "edited") %>
        <%= f.hidden_field(:tutor_change, value: is_tutor) %>

        <div class="col-lg-12">
          <%= f.submit "Update Lesson", class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>