<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %> <br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :duration %> (hours) <br>
    <%= f.number_field :duration, min: 1, max: 5 %>
  </div>
  <div class="field">
     <%= f.label :date %><br>
    <%= f.datetime_select(:date) %>
  </div>

  <!-- Not adding directly through as params...? -->
  <%= hidden_field_tag(:student_id, "#{@student.id}") %>
  <%= hidden_field_tag(:status, "initial") %>
  <%= hidden_field_tag(:tutor_change, is_tutor) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
