<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :subject %> <br>
    <%#= f.text_field :subject %>
    <%= f.select :subject, subjects_options, multiple: false %>
  </div>
  <div class="field">
    <%= f.label :location %> <br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :duration %> (minutes) <br>
    <%= f.number_field :duration, min: 30 %>
  </div>
  <div class="field">
     <%= f.label :date %><br>
    <%= f.datetime_select(:date) %>
  </div>

  <!-- Not adding directly through as params...? -->
  <%#= hidden_field_tag(:student_id, @student.id %>
  <%= f.hidden_field :student_id, value: @student.id %>
  <%#= hidden_field_tag(:status, "initial") %>
  <%= f.hidden_field :status, value: "initial" %>
  <%#= hidden_field_tag(:tutor_change, is_tutor) %>
  <%= f.hidden_field :tutor_change, value: is_tutor %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
