<div class="clearfix btns_1">
  <%= link_to "BACK", :back, class: "btn_1" %>
</div>

<h2>Editing Lesson</h2>

<%= render 'edit' %>

<% if not is_cancelled %>
<br><br>
<div class="clearfix">
  <%= form_tag cancel_lesson_path(@lesson), method: :put do %>
    <%= hidden_field_tag(:id, @lesson.id) %>
    <div class="actions">
      <%= submit_tag 'Cancel Lesson', class: "lesson_cancel btn" %>
    </div>
  <% end %>
</div>
<% end %>
