<p id="notice"><%= notice %></p>

<p>Subject: <%= @lesson.subject %></p>
<p>Description: <%= @lesson.description %></p>
<p>Tutor: <%= @lesson.tutor.display_name %></p>
<p>Student: <%= @lesson.student.display_name %></p>
<p>Duration: <%= pluralize(@lesson.duration, 'hour') %> </p>
<p>Cost: <%= @lesson.get_cost %></p>
<p>Status: <%= @lesson.status %></p> <!-- debug only -->
<p>Date: <%= local_time(@lesson.date.strftime('%d/%m/%Y %H:%M')) %></p>


<!-- local_time string concat broken... -->
<%= lesson_edited_by %> <%= lesson_updated %> <br> <br>

<%= status_helper %> <br>
<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
