<p id="notice"><%= notice %></p>

<p>Subject: <%= @lesson.subject %></p>
<p>Description: <%= @lesson.description %></p>
<p>Tutor: <%= @lesson.tutor.display_name %></p>
<p>Student: <%= @lesson.student.display_name %></p>
<p>Duration: <%= pluralize(@lesson.duration, 'hour') %> </p>
<p>Cost: <%= @lesson.get_cost %></p>
<p>Status: <%= @lesson.status %></p> <!-- debug only -->
<p>Date: <%= local_time(@lesson.date.strftime('%d/%m/%Y %H:%M')) %></p>


<!-- local_time string concat broken... -->
<%= status_helper %> <%= lesson_updated %><br><br>

<%if my_approval %>
	<%= form_tag approve_lesson_path(@lesson), method: :put do %>
		<%= hidden_field_tag(:id, @lesson.id) %>
		<div class="actions">
	    <%= submit_tag 'Approve' %>
	  </div>
  <% end %>
<% else %>
<% end %>

<!-- Maybe move this into edit path -->
<% if not is_cancelled %>
	<%= form_tag cancel_lesson_path(@lesson), method: :put do %>
		<%= hidden_field_tag(:id, @lesson.id) %>
		<div class="actions">
	    <%= submit_tag 'Cancel' %>
	  </div>
	<% end %>
<% end %>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
