<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p class="grey-text">To view all of your lessons, go to your <%= link_to "Dashboard", is_tutor ? dashboard_tutor_path(current_user) : dashboard_student_path(current_user) %> <br>
			<span class=".black-text"><%= lesson_status_message %></span>
		</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
		<h4 class="lesson-heading">Student</h4>
		<p><%= @lesson.student.display_name %></p>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
		<h4 class="lesson-heading">Tutor</h4>
		<p><%= @lesson.tutor.display_name %></p>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" >
		<h4 class="lesson-heading">Date/Time</h4>
		<p><%= local_time(@lesson.date.strftime('%d/%m/%Y %H:%M')) %></p>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
		<h4 class="lesson-heading">Cost</h4>
		<p><%= @lesson.get_cost %></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
		<h4 class="lesson-heading">Subject</h4>
		<p><%= @lesson.subject %></p>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
		<h4 class="lesson-heading">Duration</h4>
		<p><%= pluralize(@lesson.duration, 'minute') %> </p>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<h4 class="lesson-heading">Location</h4>
		<p><%= @lesson.location %></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h4 class="lesson-heading">Description</h4>
		<p><%= @lesson.description %></p>
	</div>
</div>

<div class="row">
	<!-- Approve -->
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<%if my_approval %>
			<%= form_tag approve_lesson_path(@lesson), method: :put do %>
				<%= hidden_field_tag(:id, @lesson.id) %>
				<div class="actions">
			    <%= submit_tag 'Approve Lesson', class: "btn btn-lg btn-success" %>
			  </div>
		  <% end %>
		<% end %>
	</div>

	<!-- Edit -->
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<% if @lesson.current_state < :paid %>
			<a href="#msz_popup" class="fancybox btn btn-lg btn-primary">Edit Lesson</a>

			<!-- <button class="btn btn-lg btn-info">Large Button</button> -->
		<% elsif @lesson.current_state < :completed %>
			<%#= render partial: 'lessons/reschedule', local: {tutor: @tutor } %>
			<!-- <a href="msz_popup2" class="fancybox btn btn-primary">Reschedule this lesson</a> -->
		<% end %>
	</div>

	<!-- Cancel -->
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<% if @lesson.current_state < :completed %>
			  <%= form_tag cancel_lesson_path(@lesson), data: {confirm: "Are you sure?"}, method: :put do %>
			    <%= hidden_field_tag(:id, @lesson.id) %>
			      <%= submit_tag 'Cancel Lesson', class: "btn btn-danger btn-lg" %>
			  <% end %>
		<% end %>
	</div>
</div>

<!-- Book -->
<div class="row">
	<div class="col-lg-12">
		<% if is_student and @lesson.approved? and @lesson.tutor.has_bank_account? %>
			<%= render 'transactions/book_lesson', lesson: @lesson %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<%= link_to "Back to Dashboard", is_tutor ? dashboard_tutor_path(current_user) : dashboard_student_path(current_user), 
			class:'btn btn-default space_above' %>
	</div>
</div>

<%= render partial: 'lessons/edit', locals: {tutor: @tutor} %>