<!-- new.html.erb -->
<h1>Advanced search</h1>
<%= form_for @search do |f| %>
  <div class="field">
    <%= f.text_field :area, id: "area-search", placeholder: "Enter your suburb" %>
  </div>

  <div class="field">
    <h4>Subjects</h4>
    <%= hidden_field_tag "search[subjects][]", nil %>
    <% Subject.uniq.pluck(:faculty).each do |faculty| %>
      <h5><%= faculty.to_s %></h5>
      <% Subject.all.where(faculty: faculty).each do |sub| %>
        <%= check_box_tag "search[subjects][]", sub.id, false, id: dom_id(sub) %>
        <%= label_tag dom_id(sub), "#{sub.name}: #{sub.group}" %> <br>
      <% end %>
    <% end %>

  <div class="field">
    <h4>Availability</h4>
    <%= hidden_field_tag "search[availability][]", nil %>
    <% Date::DAYNAMES.each_with_index do |wday, i| %>
      <%= check_box_tag "search[availability][]",i, false, id: :to_s %>
      <%= label_tag :to_s, wday %> <br>
    <% end %>
  </div>

  <div class="field">
    <h4>Age</h4>
    <%= f.select :age, Search.age_brackets %>
  </div>

  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>