<!-- show.html.erb -->
<h1>Search results</h1>

Area: <%= @search.area %> <br>
Subjects: <%= @search.subjects %> <br>
Availability: <%= @search.availability %> <br>
Age bracket: <%= @search.age %> <br>
<br><br>
<% @search.tutors.each do |tutor| %>
  <%= tutor.display_name %>
<% end %>