<!DOCTYPE html>
<html>
<head>
  <title>Tutoreall</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<header>
	<nav>
		<ul>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Search Tutors', tutors_path %></li>
			<% if user_signed_in? %>
				<% if is_tutor %>
					<li><%= link_to current_user.display_name, tutor_path(current_user) %></li>
					<li><%#= link_to 'Dashboard', dashboard_tutor_path(@tutor) %></li>
					<li><%= link_to "Log Out", destroy_tutor_session_path, :method => :delete %></li>
				<% else %>
					<!--<li><%#= link_to current_user.display_name, student_path(current_user) %></li>-->
					<li><%= link_to current_user.display_name, dashboard_student_path(current_user) %></li>
					<li><%= link_to "Log Out", destroy_tutor_session_path, :method => :delete %></li>
				<% end %>
			<% else %>
				<li><%= link_to "Tutor sign up", new_tutor_registration_path %></li>
				<li><%= link_to "Tutor log in", new_tutor_session_path %></li>
				<li><%= link_to "Student sign up", new_student_registration_path %></li>
				<li><%= link_to "Student log in", new_student_session_path %></li>
			<% end %>
		</ul>
	</nav>
		
</header>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="container">
	<%= yield %>
</div>

<footer>
</footer>

</body>
</html>
