<!DOCTYPE html>
<html>
<head>
  <title>Tutoreall</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div class="row">
		<% if user_signed_in? %>
			<% if is_tutor %>
				<%= link_to current_user.email, tutor_path(current_user) %> <br>
				<%= link_to "Log Out", destroy_tutor_session_path, :method => :delete %> <br>
			<% else %>
				<%= link_to current_user.email, student_path(current_user) %> <br>
				<%= link_to "Log Out", destroy_tutor_session_path, :method => :delete %> <br>
			<% end %>
		<% else %>
			<%= link_to "Tutor sign up", new_tutor_registration_path %> <br>
			<%= link_to "Tutor log in", new_tutor_session_path %> <br>
			<%= link_to "Student sign up", new_student_registration_path %> <br>
			<%= link_to "Student log in", new_student_session_path %> <br>
		<% end %>
	</div>
</header>

<div class="container">
	<%= yield %>
</div>

<footer>
</footer>

</body>
</html>
