<!DOCTYPE html>
<html>
<head>
  <title>Tutorial Academy</title>
  <meta name="keywords" content="Tutor, Perth, Maths Help, Tutoring Work, Find a Tutor, Private Tutor, Home Tutor, Homework Help, Personal Tutor, Tutors Wanted, Learning, Students, Western Australia, Sign up">
  <meta name="description" content="Find tutors in Perth. Tutorial Academy provides a simple way to browse tutor profiles, start a conversation and book lessons. Sign up today" >
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= favicon_link_tag 'layout/favicon.ico' %>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72562885-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<% if current_page?(root_url) %>
	<body class="home">
<% else %>
	<body>
<% end %>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<div id="header">
    	<div class="container">
        	<div class="header clearfix">
          	<div class="logo"><%= link_to(image_tag("layout/logo.png"), root_url) %></div>
            <div class="learn_more"><%= link_to "Learn more", about_path %></div>

            <% if user_signed_in? %>
              <div class="dropdown clearfix mszbox">
                <a href="#" id="dropdownMenu3" class="msz_btn" data-toggle="dropdown"><span class="count"><%= current_user.mailbox.inbox({:read => false}).count %></span><%= current_user.firstname %><% if is_tutor %><%= image_tag(current_user.picture_url(:chat)) %><% end %><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                  <% if is_tutor %>
                    <li><%= link_to "My Profile", tutor_path(current_user) %></li>
                    <li><%= link_to "Dashboard", dashboard_tutor_path(current_user) %></li>
                    <li><%= link_to "Inbox #{unread_message_count}", conversations_path %></li>
                    <li><%= link_to "Settings", edit_tutor_path(current_user) %></li>
                    <li><%= link_to "Logout", destroy_tutor_session_path, :method => :delete %></li>
                  <% else %>
                    <li><%= link_to "Dashboard", dashboard_student_path(current_user) %></li>
                    <li><%= link_to "Inbox #{unread_message_count}", conversations_path %></li>
                    <li><%= link_to "Settings", edit_student_path(current_user) %></li>
                    <li><%= link_to "Logout", destroy_student_session_path, :method => :delete %></li>
                  <% end %>
                </ul>
              </div>
            <% else %>
              <% if not devise_page %>
            	 <div class="login_signup"><a class="fancybox" href="#signin_popup">SIGN IN / SIGN UP</a></div>
              <% end %>
            <% end %>

            <%if current_page?(root_url) %>
							<div class="search_c">
              	<%= form_tag({:controller => "tutors", :action => "index"}, :method => "get") do %>
              		<h1><strong>Search</strong> for a <em><strong>tutor</strong></em></h1>
									<%= text_field_tag :area, params[:area], id: "area-search", class: "txtbox", placeholder: "e.g. Nedlands" %>
									<%= select_tag 'subject', subjects_faculties, class: "txtbox sub_txtbox", multiple: false %>
									<%= submit_tag "Search", :name => nil, class: "ser_btn" %>
								<% end %>
							</div>
           <% end %>
          </div>
      </div>
      <div class="curve_1"><img src="../../assets/layout/head_curve_1.png" alt=""></div>
</div>

<div id="content">
	<div class="container">
    <% if notice.present? or alert.present? %>
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
    <% end %>
		<%= yield %>
	</div>
</div>

<%if current_page?(root_url) %>
	<div id="search_totur">
	  <div class="container">
	    <div class="search_totur">
	        <%= form_tag({:controller => "tutors", :action => "index"}, :method => "get") do %>
	          <h1><strong>Search</strong> for a <em><strong>tutor</strong></em></h1>
	          <%= text_field_tag :area, params[:area], id: "area-search2", class: "txtbox", placeholder: "e.g. Nedlands" %>
	          <%= select_tag 'subject', subjects_faculties, class: "txtbox sub_txtbox", multiple: false %>
	          <%= submit_tag "Search", :name => nil, class: "ser_btn" %>
	        <% end %>
	    </div>
	  </div>
	</div>
<% end %>

<% if current_page?(root_url) or current_page?(tutors_path) %>
  <div id="becum_totur">
    <div class="container">
      <% if not current_user.present? %>
        <h1>Become a tutor<a href="#signup_popup_2" class="fancybox sign_up_btn">SIGN UP</a></h1>
      <% end %>
    </div>
  </div>
<% end %>

<div id="footer">
	<div class="container">
  	<div class="clearfix">
      	<div class="block block_1">
          	<h3>How It Works</h3>
              <ul>
              	<li><a href="#">How it works</a></li>
              </ul>
          </div>
          <div class="block block_2">
          	<h3>About Tutorial Academy</h3>
              <ul>
                <li><%= link_to "About us", about_path %></li>
              </ul>
          </div>
          <div class="block block_3">
          	<h3>Stay Connected</h3>
              <ul>
              	<li><a href="https://www.facebook.com/Tutorial-Academy-943517659035987">Facebook</a></li>
                <li><a href="https://twitter.com/tutorial_acad">Twitter</a></li>
                <li><a href="mailto:Chris@tutorial.academy" target="_top">Email us</a></li>
              </ul>
          </div>
          <div class="block block_4">
          	<h3>Legal</h3>
              <ul>
                <li><%= link_to "Terms of use", terms_of_use_path %></li>
                <li><%= link_to "Privacy policy", privacy_policy_path %></li>
              </ul>
          </div>
      </div>
      <div class="copright">
      	<p>&copy; 2015 Tutorial Academy</p>
          <%= link_to(image_tag("layout/logo_2.png"), root_url) %>
      </div>
  </div>
  <div class="curve_1">
  	<img src="../../assets/layout/footer_curve_1.png" alt="">
  </div>
</div>

<!-- Dont render the partials if a user is already logged in : or on pages with other devise forms (things break) -->
<% if not current_user.present? %>
  <% if not devise_page %>  
    <%= render partial: 'partials/sign_in' %>
    <%= render partial: 'partials/student_sign_up' %>
    <%= render partial: 'partials/tutor_sign_up' %>
    <%= render partial: 'partials/tutor_details' %>
  <% end %>
<% end %>
</body>
</html>
